@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oswald:300,400,700');

// Font Variables
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$c1 		: #dedede;
$c2 		: #292929;

$w			: #ffffff;
$b			: #000000;
$gb			: #686868;
$g  		: #35ad68;
$y			: #FFFDD2;


/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */
$color--primary: #df5e27;
$color--secondary: #df5e27;


/* ----------------------------------------------------------------------------
 * Font Variants
 * ------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oswald:300,400,700');

$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$body-font-family : $open-sans;
$header-font-weight: 400;